body {
    background: rgba(182, 173, 173, 0.945);
}
h2 {
    text-align: center;
}
table,td {
    border: 1px solid #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
th {
    border: 1px solid black;
}
h1 {
    text-align: center;
}
.earth td{
    border: 1px solid blue;
}
.uranus td{
    border: 1px solid pink;
}
.mars td{
    border: 1px solid red;
}
.venus td{
    border: 1px solid rgb(189, 55, 189);
}
img {
    display: block;
    margin: 0 auto;

}