body {
    background: rgba(182, 173, 173, 0.945);
}
table,td {
    border: 1px solid #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
th {
    border: 1px solid white;
}
h1 {
    text-align: center;
}